# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/
ENV/

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# Gradio
.gradio/

# Colab
.config/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log
